* {
	margin: 0;
	padding: 0;
}



body {
	font: 14px/14px "微软雅黑";
	color: #333;
	background: #fff
}




#mian {
	position: absolute;
}

#amin:hover {}

#voice {
	width: 1920px;
	height: 72px;
}

/*小喇叭*/
        /*小喇叭开始*/
#voice{
	width:1083px;
	height:46px;
	border-top:1px solid #DDDDDD;
	margin: 0 auto;
	position:relative;
	overflow:hidden;

}
#voice p{
	height:46px;
	line-height:46px;
	background:url(voice.jpg) no-repeat 22px center;
	padding-left:46px;
	float:left;
}
#voice ul{
		width:800px;
		float:left;
		position:absolute;
		left:140px;
		
}
#voice ul li{

	height:46px;
	line-height:46px;
}
#voice ul li a {
	color:#4095CE;
}

#voice ul li a:hover{
	color:#4095CE;
	text-decoration:underline;
	cursor:pointer;
}
#voice span {
	display:block;
	width:31px;
	height:26px;
}
#voice #L{
	float:left;
	background:url(../img/nano.gif) no-repeat 0 0 ;
	position:absolute;
	right:31px;
	top:7px
}
#voice #R{
	float:right;
	background:url(../img/nano.gif) no-repeat -30px 0 ;
	position:absolute;
	right:0px;
	top:7px
}
#voice #L:hover{
	background:url(nano.gif) no-repeat 0 -26px ;
}
#voice #R:hover{
	background:url(nano.gif) no-repeat -30px -26px ;
}

		/*小喇叭结束*/
		
		
/*入驻流程*/

#proccess {
	overflow: hidden;
	/*width: 1920px;*/
	height: 1184px;
}

.proccess_inner{margin: auto; width: 1012px;}
#proccess .proccess_left {
	position: relative;
	width: 709px;
	height: 1304px;
	/*margin-left: 452px;*/
	float: left;
}

#proccess .proccess_left  .offer {
	width: 65px;
	height: 16px;
	display: block;
	color: #B20007;
	margin: 43px 0 0 294px;
	font-size: 16px;
	padding: 7px 29px;
	border: 1px solid #b20007;
	border-radius: 5px;
}
/*商家注册>>登录>>联系我们>>联系我们>>*/
     .proccess_left  .p1{ position: absolute; right: 179px; top: 176px; color:#d13e43; }
     .proccess_left  .p2{position: absolute; right: 162px; top: 410px;color:#d13e43;}
     .proccess_left  .p3{position: absolute; right: 233px; top: 612px; color:#d13e43;}
     .proccess_left  .p4{position: absolute; right: 203px; bottom: 446px; color:#d13e43;}
     

#proccess .proccess_right {
	width: 278px;
	height: 358px;
	float: left;
	border: 1px solid #DDDDDD;
	margin-left: 21px;
}

#proccess .proccess_right h3 {
	margin: 12px 0px 17px 31px;
}

#proccess .proccess_right p {
	line-height: 31px;
	font-size: 13px;
	margin-left: 34px;
}



/*个人帮助4================================================================================================*/

/*#bordercolor {
	border-bottom: 10px solid #dedede;
	-moz-border-radius: 15px;
	-moz-border-bottom-colors: #303 #404 #606 #808 #909 #A0A;
	-moz-border-top-colors: #303 #404 #606 #808 #909 #A0A;
	-moz-border-left-colors: #303 #404 #606 #808 #909 #A0A;
	-moz-border-right-colors: #303 #404 #606 #808 #909 #A0A;
	padding: 15px 25px;
	height: inherit;
}*/

#wrap_top {
	overflow: hidden;
	/*width: 1920px;*/
	height: 148px;
}

#wrap_top .inner_top {
	overflow: hidden;
	width: 1196px;
	height: 148px;
	margin: auto;
	border-bottom: 1px solid #cccccc;
}

.inner_top h3 {
	color: #525898;
	font-size: 22px;
	display: inline-block;
	margin-top: 42px;
	float: left;
	margin-left: 227px;
	line-height: 46px;
     
     background: url(../img/header_i1.png) no-repeat bottom;
}

.top_search {
	width: 436px;
	height: 74px;
	float: left;
	margin-left: 50px;
	margin-top: 48px;
	position: relative;
}

.top_search .search_wrap {
	width: 436px;
	height: 36px;
}


/*搜索框外形*/

.top_search .search {
	width: 335px;
	height: 34px;
	border: 1px solid #A2A3A5;
	float: left;
	padding-left: 5px;
}

.top_search .btn_search_top {
	height: 36px;
	float: left;
	width: 90px;
	color: #fff;
	text-align: center;
	line-height: 36px;
	border: none;
	background: #cccccc;
	cursor: pointer;
}


/*搜索框下面列表*/

.top_search .aList a {

	margin-top: 4px;
	display: inline-block;
	color: #A2A3A5;
	text-decoration: none;
}

.top_search .aList a:hover {
	color: #EC3E7D;
}


/*服务网点与帮助中心*/

#wrap {
	position:relative;
	overflow:hidden;
	margin: 0 auto;
	width: 1196px;
	height: 550px;
}

#wrap div {
	/*overflow: hidden;*/
	
	width: 1194px;
	height: 338px;
	position: absolute;
	top: 108px;
	border: 1px solid #CCCCCC;
}

/*服务网点*/
#wrap div ._left_map{width: 561px;height: 430px; float: left;}
#wrap div ._right_search{width: 521px;
	height: 265px;float: left;}



#wrap div ._left {
	width: 281px;
	float: left;
	height: 339px;
	border-right: 1px solid #CCCCCC;
}

#wrap div ._left dt {
	width: 243px;
	height: 44px;
	border-bottom: 1px solid #CCCCCC;
	line-height: 40px;
	padding-left: 36px;
	font-weight: 600;
	font-size: 15px;
}

#wrap div ._left dt:hover {
	background: #e5e5e5;
}

#wrap div ._right {
	width: 729px;
	height: 260px;
	float: left;
	margin-left: 94px;
}

._right dt {
	width: 304px;
	height: 58px;
	margin-bottom: 30px;
}

._right dt h3 {
	line-height: 30px;
}

._right dt a {
	cursor: pointer;
	color: #7f9fe5;
	margin-right: 16px;
	text-decoration: none;
	font-weight: bold;
	line-height: 17px;
}
.phone_right{width: 910px;
	height: 260px;
	float: left;}

.phone_right1{ height: 42px; border-bottom: 1px solid #CCCCCC;font-size: 15px; line-height: 34px;}
.phone_right1a{color: royalblue; margin-left: 22px;}
.phone_right2{height: 62px;border-bottom: 1px solid #CCCCCC; text-align: center; font-size: 17px; line-height: 54px; font-weight: bold;}
.phone_right3{height: 233px;}
.phone_right3 p{line-height: 34px; margin-left: 68px; font-weight: bold; width: 788px;}



#wrap ul {
	/*position: absolute;
	right: 14px;
	top: 10px;*/
	width: 1196px;
	height: 50px;
	border-bottom: 1px solid #CCCCCC;
}

#wrap li {
	list-style: none;
	float: left;
	width: 108px;
	height: 49px;
	line-height: 45px;
	text-align: center;
	padding: 0 15px;
	margin-right: 3px;
	cursor: pointer;
	font-size: 18px;
}

#wrap li:hover {
	background: #525898;
	color: #fff;
}

/*搜索框城市*/
			#input{ width: 360px; height: 37px; margin-left: 51px;}
